.col-small {
    width: 5%;
}

.col-medium {
    width: 25%;
}

.col-large {
    width: 50%;
}

.col-full {
    width: 100%;
}

.input-width-search {
    max-width: 400px;
}

.input-width-new {
    max-width: 600px;
}

.input-width-number {
    max-width: 200px;
}