<div>
    <h1>Series</h1>

    <div>
        <button class="secondary"> <%= link_to "Volver", root_path %> </button>
        <button class="secondary"> <%= link_to "Listar", series_index_path %> </button>
        <button class="secondary"> <%= link_to "Crear",  series_new_path %> </button>
    <div>
    <br>
<div>